<form name="rteVideoForm" role="form" ng-submit="onConfirm()">
    <div class="field-wrapper">
        <div class="c-input">
            <div class="c-input_inner">
                <label class="c-label ng-binding ng-scope required" translate>
                    Video url
                </label>
                <input
                    class="c-input-text c-input-text--sm"
                    name="rte-video_url"
                    type="url"
                    ng-model="videoUrl"
                    ng-required="true"
                />
            </div>
        </div>
    </div>
    <field
        ng-cloak
        name="rte-transcrition_url"
        label="'Transcription file' | translate"
        type="'file'"
        model="transcriptionFile"
        field-data="rteVideoForm"
        required="true">
    </field>

    <div class="c-buttonGroup">
        <button type="button" ng-click="onClose()" class="c-button c-button--alpha c-button--sm c-button--floatLeft" translate>cancel</button>
        <button type="submit" class="c-button c-button--error c-button--sm c-button--floatRight" translate>confirm</button>
    </div>
</form>
